*.lib
*.suo
*.sdf
*.opensdf
*.pdb
*.log
*.tlog
*.lastbuildstate
*.aps
[Bb]in/
[Bb]uild/
[Ll]ib/
[Dd]ebug/
[Rr]elease/
[Ww]in32/
.project
build-*
build*/
*.user
x86/
x64/
moc_*
ui_*
qrc_*
.DS_STORE
_build*/
cmake-build-*/
__pycache__
.cache
.idea
.vscode
compile_commands.json
.vs/
.*.swp
.*.swo